body {
    margin: 0 auto;
    padding: 0;
}

.container {
    display: flex;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.nav1 {
    display: flex;
    justify-content: center;
    margin: auto ;
}

.item {
    flex-grow: 1;
    padding: 20px 3em;
    border-bottom: 5px solid transparent;
    transition: 0.3s;
    &:hover {
        border-bottom: 5px solid #643182;
    }
}

.main-header a {
    text-decoration: none;
    color: #533ba9;
    font-weight: 600;
    position: sticky;
    top: 0;   /*固定選單列*/
  }

.main-aboutme {
    scroll-behavior: auto;
  }

.resume_img {
    float: left;
}

.resume_img img {
    margin-left: 230px;
    margin-top: 120px;
    width: 350px;
    height: 350px;
 }

.resume_text {
    color: #1C1C1C;
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 2px;
    float: right;
    margin-right: 400px;
    margin-top: 100px;
}

.name {
    font-size: 35px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
}

.instagram {
    float:right;
    margin-right: 100px;
    margin-top: -80px;
    width: 40px;
    height: 40px;
}

.gmail {
    float:right;
    margin-right: 30px;
    margin-top: -80px;
    width: 40px;
    height: 40px;
}

.line {
    margin-top: -20px;
    font-weight: 700;
}

.schoolbirth {
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    line-height: 30px;
}

.quote {
    color: #33213F;
    margin-left: 50px;
    margin-bottom: 150px;
    font-size: 20px;
    font-family: EB Garamond;
    font-weight: bolder;
    line-height: 30px;
}

.intro {
    line-height: 30px;
    font-weight: 300;
}

.main-profession {
    background-color: #D7D1E1;
    margin-top: 35px;
}

.prohead {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-left: 100px;
    padding-top: 100px;
}

.proski {
    font-family: EB Garamond;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
}

.pro-html {
    margin: 100px 0 0 100px;
}

.skiword {
    float: left;
}

.pro-container {
    width: 500px;
    height: 25px;
    border-radius: 25px;
    background: #fafafa;
    float: right;
}
.pro-progress {
    height: inherit;
    border-radius: 25px 0 0 25px;
    background: #a094b1;
    float: right;
}

table {
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
}

.line1 {
    width: 250px;
}

.line2 {
    max-width: 18%;
    max-height: 18%;
    margin: 150px 0px;
}

.exp_left {
    max-width: 70%;
    max-height: 70%;
    border-radius: 15px;
    float: right;
    margin-top: 30px;
}

.exp_right{
    max-width: 70%;
    max-height: 70%;
    border-radius: 15px;

}

.exphead_left {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: right;
    margin-top: 20px;
}

.exphead_right {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: left;
    margin-top: 20px;
}

.exptext_left {
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 25px;
    font-weight: 300;
    text-align: right;
    margin-top: 30px;
    letter-spacing: 2px;
}

.exptext_right {
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 25px;
    font-weight: 300;
    text-align: left;
    margin-top: 30px;
    letter-spacing: 2px;
}

.main-hobbies {
    background-color: #D7D1E1;
    padding-bottom: 10px;
}

hr {
    border: 1px solid #413C44;
    border-radius: 20px;
    margin: 100px;
}

.table2 {
    margin-top: 150px;
}

.hobimg {
    max-width: 70%;
    max-height: 70%;
    border-radius: 15px;
}

.tdimg {
    text-align: center;
    width:50%;
}

.hobhead {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: left;
    margin-top: 20px;
    margin-left: 30px;
}

.hobtext {
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 25px;
    font-weight: 300;
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
    letter-spacing: 2px;
}

.footer1 {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    text-align: center;
    background-color: #6d6280;
    letter-spacing: 2px;
    padding: 20px;
    color: #ffffff;
    margin: 0;
}